/*HTML Stilo general*/
body, html{
    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.encriptadorHTML{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
/********************/

/*Bloques*/
.logoimg{
    margin-left: 1%;
    padding: 2% 2% 0 2%;
}
.encriptador{
    width: 60%;
    padding: 2% 2%;
    margin: 2% 2% 0 2%;
    display: grid;
    align-content: space-between;    
}

.texto_Encriptado,.texto_Encriptado2{
    padding: 2% 2%;
    margin: 2% 2% 2% 2%;
    border-radius: 3%;
    background-color: white;
}

.texto_Encriptado{
    display: none;
    align-content: space-between;
}
.texto_Encriptado2
{
    text-align: center;
    display: grid;
    align-content: center;
    gap: 25px;
}


/*********/

/*Botones*/
input[type="button"]
{ 
    color: #0A3871;
    background-color: white;
    border: 3px solid #0A3871;
    border-radius: 25px;
    height: 67px;
    font-size: 1em;
    padding: 2%;
}
.botones_EyD{
    gap: 25px;
    display: flex;
    justify-content:center;
}
input.botonEncriptar
{
    color: white;
    background-color:#0A3871;
}
.botonEncriptar,.botonDesencriptar{
    width: 40%;
}
input[type="button"]:hover
{
    background-color: #0c2849;
    color: white;
    border-color: #0c2849;
}

input[type="button"]:active
{
    transform: scale(1.1,1.1);
}
/*********/

/*Cajas de texto*/
textarea
{
    /*Desabilita la interactividad con textarea*/
    outline: none;
    resize: none;
    /*******************************************/
    font-family: 'Inter', sans-serif;
    border: none;
    width: 100%;
}

#textoIngresado{
    height: 100%;
    background-color: #E5E5E5;
    padding: 2% 0 2% 0;
    font-size: 40px;

}
#textoEncriptado{
    font-size: 20px;
}

#texoNoEncontrado1,#texoNoEncontrado2
{
    text-align: center;
}
#texoNoEncontrado1
{   
    font-size: 35px;
}
#texoNoEncontrado2
{ 
    font-size: 20px;
}

textarea ::-webkit-scrollbar
{
    width: 0;
}

/*Adptar a la pantalla*/

@media screen and (max-width: 700px)
{
    .encriptadorHTML
    {
        display: block;
    }
    .encriptador
    {
        width: auto;
        height: 85%;
    }
    .noEncontrado
    {
        display: none;
    }
}